{% extends 'channels/base.html' %}
{% block title %}Dialogues{% endblock %}
{% block activeDialogs %}active{% endblock %}

{% block content %}

<div class="container">
    <div class="col-sm-8">
        <div class="list-group">

            {% for dialogue in dialogues %}
                <a href="{% url 'dialogue:dialogue_chat' dialogue.pk %}" class="list-group-item">
                    <div class="row">
                        <div class="col-sm-2">

                            {% load static %}
                            <img class="img-responsive img-circle" src="
                                        {% if dialogue.participants.all.0.avatar and dialogue.participants.all.0.pk is not this_user.pk %}
                                            {{ dialogue.participants.all.0.avatar.url }}
                                        {% elif dialogue.participants.all.1.avatar and dialogue.participants.all.1.pk is not this_user.pk %}
                                            {{ dialogue.participants.all.1.avatar.url }}
                                        {% else %}
                                            {% get_media_prefix %}img/noavatar.png
                                        {% endif %}
                                    " alt="...">
                        </div>
                        <div class="col-sm-9">
                            <h4 class="list-group-item-heading">

                                {% for participant in dialogue.participants.all %}
                                    {% if this_user.pk != participant.pk %}
                                        {{ participant.first_name }}&nbsp;{{ participant.last_name }}
                                    {% endif %}
                                {% endfor %}

                            </h4>
                            <p class="list-group-item-text">
                                Newest message: {{ dialogue.fresh_message_date }}
                            </p>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}
