{% extends 'channels/channels_base.html' %}
{% block title %}Feed{% endblock %}

{% block stream %}


            {% load static %}
            {% for post in posts %}
                <div class="post">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-2">
                                {% if post.author.user_kind is 'F' %}
                                    <img class="img-responsive img-circle" src="
                                            {% get_media_prefix %}img/noavatar.png
                                        " alt="...">
                                {% else %}
                                    <img class="img-responsive img-circle" src="
                                            {% if post.sender.avatar %}
                                                {{ post.sender.avatar.url }}
                                            {% else %}
                                                {% get_media_prefix %}img/noavatar.png
                                            {% endif %}
                                        " alt="...">
                                {% endif %}
                            </div>
                            <div class="col-sm-10">
                                <div class="">
                                    {% if post.author.user_kind is 'F' %}
                                        <label id="name">Staff</label>
                                    {% else %}
                                        <label id="name">
                                            {{ post.author.first_name }} &nbsp; {{ post.author.last_name }}
                                            &nbsp; | &nbsp;
                                            {% if user.user_kind == 'T' %}
                                                Student
                                            {% else %}
                                                Academic
                                            {% endif %}
                                        </label>
                                    {% endif %}
                                    <div class="pull-right">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        &nbsp;
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </div>
                                    <br />
                                    <label id="date">{{ post.date }}</label>
                                    <br/>
                                    <b id="title">{{ post.title }}</b>
                                    <br/>
                                    {{ post.text }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr>
                            <div class="col-sm-5 col-sm-offset-0">
                                {% if post.is_subject %}
                                    {{ post.subject.title }}
                                {% elif post.university %}
                                    University
                                {% elif post.faculty %}
                                    Faculty
                                {% elif post.group_set %}
                                    Group set
                                {% elif post.group %}
                                    Group
                                {% elif post.subgroup %}
                                    {{ post.subgroup.title }}
                                {% endif %}
                            </div>
                            <div class="pull-right">
                                {% if post.expires %}
                                    Available until &nbsp; {{ post.expires }}
                                {% endif %}
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}

{% endblock %}
