{% extends 'channels/base.html' %}
{% block title %}Log In{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Sign in</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action=""
                          method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">

                            <label class="control-label col-sm-3" for="id_email">
                                E-mail:
                            </label>
                            <div class="col-sm-7 {% if form.email.errors %}has-error{% endif %}">
                                <input class='form-control' id="id_email" maxlength="30" name="email"
                                       type="text"
                                       value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                            </div>

                            <div class="col-sm-offset-3 col-sm-9">
                                <span class="text-danger small">{{ form.email.errors }}</span>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-sm-3" for="id_password">
                                Password:
                            </label>
                            <div class="col-sm-7 {% if form.password.errors %}has-error{% endif %}">
                                <input class='form-control' id="id_password" maxlength="30" name="password" type="password">
                            </div>

                            <div class="col-sm-offset-3 col-sm-9">
                                <span class="text-danger small">{{ form.password.errors }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    New to uniq? <a href="{% url 'customauth:register' %}">Create an account.</a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}