{% extends 'channels/base.html' %}
{% block title %}Profile {% endblock %}

{% block content %}
<div class="container">

    <div class="row">
        <div class="col-sm-offset-0 col-sm-12 col-lg-offset-2 col-lg-8">

            <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Personal Information</h3>
                </div>

                <div class="panel-body">

                    <div class="col-sm-offset-2 col-sm-8">
                        <div class="col-sm-4">
                            {% load static %}
                            <img class="img-responsive" src="
                                {% if user.avatar %}
                                    {{ user.avatar.url }}
                                {% else %}
                                    {% get_media_prefix %}img/noavatar.png
                                {% endif %}
                            " alt="...">
                        </div>
                        <div class="col-sm-6">
                            <br>
                            <h4 class="media-heading">My avatar</h4><br>
                            <p>
                                <a href="#" class="btn btn-default" role="button">Change</a>
                                <a href="#" class="btn btn-default" role="button">Remove</a>
                            </p>
                            <br>
                        </div>
                    </div>

                    <form class="form-horizontal" role="form" action=""
                          method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">

                            <label class="control-label col-sm-3" for="id_email">
                                E-mail:
                            </label>
                            <div class="col-sm-7 {% if form.email.errors %}has-error{% endif %}">
                                <input class='form-control' id="id_email" maxlength="30" name="email"
                                       type="text" placeholder="E-mail"
                                       value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
                            </div>

                            <div class="col-sm-offset-3 col-sm-9">
                                <span class="text-danger small">{{ form.email.errors }}</span>
                            </div>
                        </div>

                        <div class="form-group">

                            <label class="control-label col-sm-3" for="id_password">
                                Password:
                            </label>
                            <div class="col-sm-7 {% if form.password.errors %}has-error{% endif %}">
                                <input class='form-control' id="id_password" maxlength="30"
                                       name="password" type="password" placeholder="Password">
                            </div>

                            <div class="col-sm-offset-3 col-sm-9">
                                <span class="text-danger small">{{ form.password.errors }}</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Subscription</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock %}